.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.products {
    width: 100%;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto; 
}

.categoryName {
    text-transform: capitalize;
    padding: 40px;
    margin-bottom: 30px;
}